/*Menu*/
body{
  margin: 0 auto;
  padding: 0px;
}
#nav {
  padding: 1px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  font-size: 20px;
  background-color: #037f99;
 }
#nav a{
  margin-right: 10px; 
  padding: 21px;
  justify-content: flex-end;
  text-decoration: none;
  color: white;
  text-align: center;
}
#nav img{
 display: left;
}

#nav .hola{
  display: none;
}

a:hover{
  background-color: pink;
  cursor:pointer;
}